.sub-head-button{
    border-radius: 0;
    padding: 4px;
    font-size: larger;
    background-color: gray;
    border: none;
    outline: none;
}
.sub-header{
    background-color: gray;
}

#main-page{
    display: flex;
    width: 100%;
}

#settings{
    width: 75%;
    height: 100%
}

#news{
    background-color: #549f63;
    margin: 0;
    height: 50%;
    border:1px solid black;

}

#password{
    display: inline-grid;
    width: 75%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;

}

input{
    margin-bottom: 10px;
    height: 20px;
    width: 40%;
}

#messages {
    background-color: pink;
    margin: 0;
    height: 50%;
    border:1px solid black;

}

#options{
    font-size: 20px;

}

.option{
    border:1px solid black;
    height: 40px;
    line-height: 40px;
}

#extra-info{
    display: block;
    float: right;
    margin: 0 auto;
    width: 25%;
    height: 100%;
}

#news-head{
    text-align: center;
    text-decoration: underline;
}

#message-head{
    text-align: center;
    text-decoration: underline;
}
.body{
    height: 100%;
    margin: 0;
    padding: 0;
}